<div class="dashboard-container">
    <!-- Filter Bar -->
    <div class="filter-bar">
        <div class="date-range">
          <div class="badge">
            <span class="date-range-text">Jul 1st - Sep 30</span>
            <img
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/56f4684ebdc720c103690290ce1f657357b66f0b82bad52908e6e9c6cd8904ee?placeholderIfAbsent=true&apiKey=43632c7bd1d84079a851d9b51a08f2e5"
              alt="Calendar icon"
              class="calendar-icon"
            />
          </div>
        </div>
        <div class="filter-options">
          <div class="time-range-buttons">
            <button class="time-range-button active">Default</button>
            <button class="time-range-button custom">
              <img
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/6d8410ca3c96f126978691031ad1095ca317ceaaf1db7597922a2e477c654d7c?placeholderIfAbsent=true&apiKey=43632c7bd1d84079a851d9b51a08f2e5"
                alt="Custom icon"
                class="custom-icon"
              />
              <span>Custom</span>
            </button>
            <button class="time-range-button">Today</button>
            <button class="time-range-button">7D</button>
            <button class="time-range-button">30D</button>
            <button class="time-range-button">3M</button>
            <button class="time-range-button">6M</button>
            <button class="time-range-button">12M</button>
            <button class="time-range-button">Q1</button>
            <button class="time-range-button">Q2</button>
            <button class="time-range-button">Q3</button>
            <button class="time-range-button">Q4</button>
            <button class="time-range-button more-options">
              <img
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/74f532243858701a5806dd9ff80ef0003a952573b1488f571f8d3b976819f2e3?placeholderIfAbsent=true&apiKey=43632c7bd1d84079a851d9b51a08f2e5"
                alt="More options"
                class="more-icon"
              />
            </button>
          </div>
          <button class="filter-button">
            <img
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/2885d00d72000796292818c346802bbc02c8488c48053573fe4f95febad037ed?placeholderIfAbsent=true&apiKey=43632c7bd1d84079a851d9b51a08f2e5"
              alt="Filter icon"
              class="filter-icon"
            />
            <span>Filters</span>
          </button>
          <img
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/5562650d7c826d8ea88bd8d1d0689ffd2411194dcb0d2bf8dac6a59ef0437ace?placeholderIfAbsent=true&apiKey=43632c7bd1d84079a851d9b51a08f2e5"
            alt="Additional options"
            class="additional-options-icon"
          />
        </div>
    </div>

    <!-- All Tabs role wise Itterate Loops -->
    <nav class="metrics-grid" role="region" aria-label="Key metrics">
        <!-- Home Tabs -->
        <div class="metric-card" *ngFor="let tab of homeTabsArray" [class.active]="tab === selectedTab"
            (click)="changeHomeTab(tab)">
            <p class="metric-title">{{tab.text}}</p>
            <h5 class="metric-value">{{tab.value}}</h5>
        </div>
    </nav>

    <!-- Home / not All Agent-->
    <main class="home-content">
        <!-- Main Contents -->
        <div class="main-analytics" *ngIf="activeComponent === 'app-agent-performance'">
            <app-agent-performance></app-agent-performance>
        </div>

        <div class="main-analytics" *ngIf="activeComponent === 'app-home-daily-users'">
            <app-home-daily-users></app-home-daily-users>
        </div>

        <div class="main-analytics" *ngIf="activeComponent === 'app-home-sessions-handled'">
            <app-home-sessions-handled></app-home-sessions-handled>
        </div>

        <div class="main-analytics" *ngIf="activeComponent === 'app-home-resolution-rate'">
            <app-home-resolution-rate></app-home-resolution-rate>
        </div>

        <div class="main-analytics" *ngIf="activeComponent === 'app-home-top-queries'">
            <app-home-top-queries></app-home-top-queries>
        </div>

        <div class="main-analytics" *ngIf="activeComponent === 'app-home-top-issues'">
            <app-home-top-issues></app-home-top-issues>
        </div>

        <div class="main-analytics" *ngIf="activeComponent === 'app-home-avg-resolution-time'">
            <app-home-avg-resolution-time></app-home-avg-resolution-time>
        </div>

        <div class="main-analytics" *ngIf="activeComponent === 'app-home-customer-satisfaction'">
            <app-home-customer-satisfaction></app-home-customer-satisfaction>
        </div>

        <div class="main-analytics" *ngIf="activeComponent === 'app-error-rate'">
            <app-error-rate></app-error-rate> <!-- Developement Pending -->
        </div>

        <!-- Insights -->
        <div class="insights">
            <app-insights></app-insights>
        </div>
    </main>
</div>