<!-- <div class="dashboard-container"> -->



<!-- Pie chart -->
<!-- <div>
  </div> -->
<!-- </div> -->
<section class="chart-container">
  <div class="chart-header">
    <h2 class="chart-title">Sessions per day</h2>
    <img
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/49cbf7a06e7bf7591d08b489a5214211a9ef8d50b9c9c0768af7275788bf54fd?placeholderIfAbsent=true&apiKey=43632c7bd1d84079a851d9b51a08f2e5"
      alt="Information icon" class="info-icon" />
  </div>
  <div class="chart-body">
    <canvas #sessionsChart id="session" aria-label="Sessions per day Chart" role="img"></canvas>
  </div>
</section>

<section class="chart-container" style="margin-top: 12px;">
  <div class="chart-header">
    <h2 class="chart-title">Session Status</h2>
    <img
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/49cbf7a06e7bf7591d08b489a5214211a9ef8d50b9c9c0768af7275788bf54fd?placeholderIfAbsent=true&apiKey=43632c7bd1d84079a851d9b51a08f2e5"
      alt="Information icon" class="info-icon" />
  </div>
  <div class="chart-body">
    <canvas #sessionPieChart id="pie" aria-label="Sessions Status Chart" role="img" style="height: 500px;"></canvas>
  </div>
</section>
