.review-container {
  border-radius: 6px;
  border-bottom: 1px solid #d4d4d4;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 12px 8px;
  width: auto;
  right: 0px;
  background-color: #fff;
}

// @media (max-width: 991px) {
//   .review-container {
//     width: 100%;
//   }
// }

// @media (max-width: 640px) {
//   .review-container {
//     padding: 8px;
//   }
// }

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.review-title {
  color: #171717;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
}

.menu-icon {
  padding: 2px;
  cursor: pointer;
}

.review-content {
  color: #171717;
  font-size: 12px;
  line-height: 20px;
}

.improvement {
  margin-bottom: 16px;
}

.improvement-title {
  font-weight: 700;
}

.example {
  color: #171717;
  margin-top: 4px;
  padding-left: 16px;
}
