:host {
  display: block;
  height: 100vh;
  overflow: hidden;
}

.insights-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f5f5f5;
  padding: 16px;
}

.header {
  border-bottom: 1px solid #d4d4d4;
  padding: 4px 24px; /* Reduced the top and bottom padding */
}


.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensures full width of the container */
}

.filter-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px;
  border-radius: 2px;
  border: none;
  background: none;
  color: #525252;
  font: 400 12px/20px Inter, sans-serif;
  cursor: pointer;

  img {
    width: 16px;
    height: 16px;
  }
}

.date-filters {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
}

.date-buttons {
  display: flex;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  overflow: hidden;
}

.date-btn {
  padding: 6px 8px;
  border: none;
  border-right: 1px solid #d4d4d4;
  background: #f5f5f5;
  color: #171717;
  font: 500 12px/20px Inter, sans-serif;
  cursor: pointer;

  &:last-child {
    border-right: none;
  }

  &.active {
    background: #fff;
  }

  &.custom {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.main-content {
  display: flex;
  height: calc(100% - 60px);
}

.query-block{
  display: flex;
  // height: calc(100% - 60px);
}

.query-subPanel {
  width: 250px;
  border-left: 1px solid #d4d4d4;

  h2 {
    padding: 8px 10px;
    border-bottom: 1px solid #d4d4d4;
    font: 500 12px/20px Inter, sans-serif;
    margin: 0;
  }
  .query-list {
    height: calc(100% - 37px);
    overflow-y: auto;
    background: white;
  }
}

.query-section {
  flex: 1;
  // padding: 16px;
  display: flex;
  flex-direction: column;
}

.query-header {
  background: #e0e7ff;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  padding: 12px;
}

.query-label {
  display: flex;
  align-items: center;
  gap: 8px;
  font: 600 12px/20px Inter, sans-serif;
}

.search-results {
  margin-top: 16px;
}

.search-query {
  background-color: #e5e5e5;
  border: 1px solid rgba(212, 212, 212, 1);
  border-radius: 4px;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.query-details {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;

}

.query-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}
.query-form {
  display: flex;
  gap: 8px;
}

.query-input {
  display: flex;
  align-items: center;
  border: 1px solid rgba(212, 212, 212, 1);
  border-radius: 6px;
  padding: 10px 12px;
  flex: 1;
}
.search-form {
  display: flex;
  gap: 8px;
  margin-top: 6px;
}

.search-field {
  flex: 1;
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  padding: 10px 12px;
}
#searchInput {
  width: 100%; /* Takes up full width of its container */
  font-size: 15px; /* Adjust the font size if needed */
  border: none;
}

.search-btn {
  padding: 8px 16px;
  background: #4f46e5;
  color: #fff;
  border: none;
  border-radius: 6px;
  font: 500 12px/20px Inter, sans-serif;
  cursor: pointer;
}
.returns-analysis {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 5px;
  background: #fff;
  overflow: auto;
  // border-bottom: 2px solid black;
  .content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
  }

  .intro {
    // margin-bottom: 20px;
    // line-height: 1.5;
    font-size: smaller;
  }

  .categories-list {
    margin: 0;
    padding-left: 20px;
  }

  .category {
    margin-bottom: 20px;
  }

  .category-title {
    font-weight: 600;
    font-size: small;
  }

  .subcategories {
    margin-top: 10px;
    padding-left: 20px;

    li {
      font-size: smaller;
      line-height: 1.5;
    }
  }

  .conclusion {
    margin-top: 20px;
    line-height: 1.5;
  }
}

@media (max-width: 991px) {
  .returns-analysis {
    .content {
      max-width: 100%;
    }
  }
}
.semiBold {
  font-family: "Myriad pro Semibold";
  font-weight: 700;
}
.txt-style{
  font-weight: 500;
  font-size: small;
}

.insights-panel {
  width: 290px;
  border-left: 1px solid #d4d4d4;

  h2 {
    padding: 8px 10px;
    border-bottom: 1px solid #d4d4d4;
    font: 500 12px/20px Inter, sans-serif;
  }
}

.insights-list {
  height: calc(100% - 37px);
  overflow-y: auto;
}

.insight-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 10px;
  border-bottom: 1px solid #d4d4d4;
  font: 400 12px/20px Inter, sans-serif;
  p{
    margin: 0 !important;
  }
}

.badge {
  background: #f5f5f5;
  border: 1px solid #d4d4d4;
  border-radius: 9999px;
  padding: 0 8px;
  font: 500 12px/24px Inter, sans-serif;
}

.highlight {
  &.positive {
    color: #16a34a;
  }
  &.negative {
    color: #dc2626;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (max-width: 991px) {
  .header {
    padding: 8px 20px;
  }
  
  .insights-panel {
    display: none;
  }
}

.sub-section{
  overflow: auto;
}

  /* Graphs */
  .chart-section {
    background: var(--card-bg);
    padding: 10px;
    border-radius: 8px;
    max-height: 1000px;
    box-shadow: var(--card-shadow);

  }

  .users-chart {
    width: 95%;
    // height: 95%;
  }

  .badge {
    background-color: #9e9191;
    color: white;
    // padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
  }

  .query-subPanel-Title{
    h2{
      font-size: smaller;
      justify-content: space-between;
      display: flex;
    }
  }
