<section class="chart-container">
  <div class="chart-header">
    <h2 class="chart-title">Action Gap Issues per Agent</h2>
    <img
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/49cbf7a06e7bf7591d08b489a5214211a9ef8d50b9c9c0768af7275788bf54fd?placeholderIfAbsent=true&apiKey=43632c7bd1d84079a851d9b51a08f2e5"
      alt="Information icon" class="info-icon" />
  </div>

  <div class="chart-body">
    <canvas #actionGapChart aria-label="Action Gap Chart" role="img"></canvas>
  </div>
</section>

<div class="multiple-graph-section">
  <section class="performance-section left-chart">
    <div class="performance-box">
      <div class="heading-and-icon">
        <h5>Diffrential Analysis</h5>
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/49cbf7a06e7bf7591d08b489a5214211a9ef8d50b9c9c0768af7275788bf54fd?placeholderIfAbsent=true&apiKey=43632c7bd1d84079a851d9b51a08f2e5"
          alt="Information icon" class="info-icon" />
      </div>
      <ol>
        <li>High-performing agents provide step-by-step resolutions.</li>
        <li>There is clear prerequisite hygiene to be followed before upgrades action is performed.</li>
        <li>Product & Billing Support agents did not follow hygiene resulting into rollbacks.</li>
      </ol>
    </div>
  </section>
  
  <section class="performance-section right-chart">
    <div class="performance-box">
      <div class="heading-and-icon">
        <h5>Recommendations</h5>
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/49cbf7a06e7bf7591d08b489a5214211a9ef8d50b9c9c0768af7275788bf54fd?placeholderIfAbsent=true&apiKey=43632c7bd1d84079a851d9b51a08f2e5"
          alt="Information icon" class="info-icon" />
      </div>
      <ol>
        <li>Standardize action-oriented responses with clear resolution paths.</li>
        <li>Introduce interactive troubleshooting guides and structured decision trees.</li>
        <li>Ensure every agent has access to steps for proper prerequisite hygiene before performing the action.</li>
      </ol>
    </div>
  </section>
  
</div>