<div class="app-container">
  <!-- Sidebar and Main Content -->
    <div *ngIf="!isLoginPage" class="sidebar" [class.small-sidebar]="isSidebarCollapsed">
      <app-navigation (sidebarStateChanged)="handleSidebarStateChange($event)"></app-navigation>
    </div>  
    <div class="continer-wrapper" [class.full-screen]="isSidebarCollapsed" [class.login-screen]="isLoginPage">
      <!-- Header -->
      <div class="header" *ngIf="!isLoginPage && shouldShowNavbar()" >
        <div class="header-container">
          <nav class="navigation-bar" role="navigation">
            <div class="menu-icon-wrapper">
              <img loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/43632c7bd1d84079a851d9b51a08f2e5/694c0a7ed88c9625396d8c895b8805eae62993841912b66bda475477c37e6e13?apiKey=43632c7bd1d84079a851d9b51a08f2e5&"
                alt="" class="menu-icon" />
            </div>
            <div class="title-wrapper">
              <img loading="lazy" [src]="imgSource" alt="" class="title-icon" />
              <p class="page-title">{{headerTitle}}</p>
            </div>
            <div class="action-buttons">
              <button class="action-btn" aria-label="Action 1">
                <img loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/43632c7bd1d84079a851d9b51a08f2e5/8ff87e2cf879dcb13828e3196d4710dc664f4cdf688fe873aa733406f2da6266?apiKey=43632c7bd1d84079a851d9b51a08f2e5&"
                  alt="" />
              </button>
              <button class="action-btn" aria-label="Action 2">
                <img loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/43632c7bd1d84079a851d9b51a08f2e5/f22976a35d875f5c7fff540ea7559613b8c7fb22140979f22c2a1bed2c51c958?apiKey=43632c7bd1d84079a851d9b51a08f2e5&"
                  alt="" />
              </button>
              <button class="action-btn" aria-label="Action 3">
                <img loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/43632c7bd1d84079a851d9b51a08f2e5/bf3535b74d44ea891c71595d6cda4267d0f5657ad9c96eb9fb178dfde38569e5?apiKey=43632c7bd1d84079a851d9b51a08f2e5&"
                  alt="" />
              </button>
              <button class="action-btn" aria-label="Action 4" (click)="onSettingClick()">
                <img loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/43632c7bd1d84079a851d9b51a08f2e5/d380de9621d12564416b1be22bdcdad688bf9f0696601e49f76efd56ce7afe0b?apiKey=43632c7bd1d84079a851d9b51a08f2e5&"
                  alt="" />
              </button>
              <button class="action-btn" aria-label="Action 5">
                <img loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/43632c7bd1d84079a851d9b51a08f2e5/ed9b464d526485c53a978c6db62c15f37db449ada2f09965e939b3312ac6c7dc?apiKey=43632c7bd1d84079a851d9b51a08f2e5&"
                  alt="" />
              </button>
            </div>
          </nav>
        </div>
      </div>
      <div class="main-content" [class.full-screen]="isSidebarCollapsed" [class.login-screen]="isLoginPage">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>