<section class="chart-container">
  <div class="chart-header">
    <h2 class="chart-title">Knowledge Gap Issues per Agent</h2>
    <img
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/49cbf7a06e7bf7591d08b489a5214211a9ef8d50b9c9c0768af7275788bf54fd?placeholderIfAbsent=true&apiKey=43632c7bd1d84079a851d9b51a08f2e5"
      alt="Information icon" class="info-icon" />
  </div>

  <div class="chart-body">
    <canvas #knowledgeGapChart aria-label="Knowledge Gap Issues per Agent Chart" role="img"></canvas>
  </div>
</section>

<div class="multiple-graph-section">
  <section class="performance-section left-chart">
    <div class="performance-box">
      <div class="heading-and-icon">
        <h5>Diffrential Analysis</h5>
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/49cbf7a06e7bf7591d08b489a5214211a9ef8d50b9c9c0768af7275788bf54fd?placeholderIfAbsent=true&apiKey=43632c7bd1d84079a851d9b51a08f2e5"
          alt="Information icon" class="info-icon" />
      </div>
      <ol>
        <li>IT & Developer Support agents have well-maintained, up-to-date knowledge bases.</li>
        <li>Product & Billing Support agents face outdated or incomplete policy information, causing user issues.</li>
      </ol>
    </div>
  </section>
  
  <section class="performance-section right-chart">
    <div class="performance-box">
      <div class="heading-and-icon">
        <h5>Recommendations</h5>
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/49cbf7a06e7bf7591d08b489a5214211a9ef8d50b9c9c0768af7275788bf54fd?placeholderIfAbsent=true&apiKey=43632c7bd1d84079a851d9b51a08f2e5"
          alt="Information icon" class="info-icon" />
      </div>
      <ol>
        <li>Conduct regular audits to expand and update the knowledge bases.</li>
        <li>Implement a feedback loop to improve responses based on unresolved queries.</li>
        <li>Ensure agents have real-time access to updated troubleshooting steps.</li>
        <li>implement version control for knowledge bases and troubleshooting steps. Provide automation so each agent has uptodate version.</li>
      </ol>
    </div>
  </section>
  
</div>