<section class="chart-container">
  <div class="chart-header">
    <h2 class="chart-title">Comprehension Issues per agent</h2>
    <img
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/49cbf7a06e7bf7591d08b489a5214211a9ef8d50b9c9c0768af7275788bf54fd?placeholderIfAbsent=true&apiKey=43632c7bd1d84079a851d9b51a08f2e5"
      alt="Information icon" class="info-icon" />
  </div>

  <div class="chart-body">
    <canvas #comprehensionIssuesChart aria-label="Comprehension Issues per agent Chart" role="img"></canvas>
  </div>
</section>

<div class="multiple-graph-section">
  <section class="performance-section left-chart">
    <div class="performance-box">
      <div class="heading-and-icon">
        <h5>Diffrential Analysis</h5>
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/49cbf7a06e7bf7591d08b489a5214211a9ef8d50b9c9c0768af7275788bf54fd?placeholderIfAbsent=true&apiKey=43632c7bd1d84079a851d9b51a08f2e5"
          alt="Information icon" class="info-icon" />
      </div>
      <ol>
        <li>High-performing agents break down complex queries effectively.</li>
        <li>Product & Billing Support struggle with ambiguous user descriptions, leading to repeated questions.</li>
      </ol>
    </div>
  </section>
  
  <section class="performance-section right-chart">
    <div class="performance-box">
      <div class="heading-and-icon">
        <h5>Recommendations</h5>
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/49cbf7a06e7bf7591d08b489a5214211a9ef8d50b9c9c0768af7275788bf54fd?placeholderIfAbsent=true&apiKey=43632c7bd1d84079a851d9b51a08f2e5"
          alt="Information icon" class="info-icon" />
      </div>
      <ol>
        <li>Enhance entity recognition and intent matching for better query understanding.</li>
        <li>Use guided question flows to extract key details efficiently.</li>
        <li>Train models on a broader dataset to improve response accuracy.</li>
      </ol>
    </div>
  </section>
  
</div>